/* body{
  background-color: black; 

} */

.teste{
  width: 350px;
}

.container{
    display:flex;
    gap: 20px;
    height: 100%; 
    padding: 15px;
}

.formulario{
    flex:1;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 32px 20px;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    gap: 15px;
 
}
.tabela{
    background-color: #fff;
    flex:1;
    border-radius: 15px;
    padding: 32px 20px;
 
}